<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">Sign In</h1>
</div>
<form class="form-signin" action="/signin" method="POST">
  <div class="form-row mb-3">
    <label class="form-label" for="email">Email</label>
    <input class="form-control" id="email" type="text" name="email" class="form-control" placeholder="Email" required
      autofocus>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" id="password" type="password" name="password" class="form-control"
      placeholder="Password" required>
  </div>
  <div class="d-flex flex-row ">
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
    <a href="/auth/facebook" class="btn-block mx-2">
      <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-256.png" alt="facebook" style="height:50px;"/>
    </a>
    <a href="/auth/google" class="btn-block mx-1">
      <img src="https://cdn2.iconfinder.com/data/icons/social-media-free-20/32/google_search_online_social_media-2-256.png" alt="google" style="height:50px;"/>
    </a>
  </div>
  
</form>
</form>
<div class="mb-4 text-center">
  <p><a href="/signup">Sign Up with email</a></p>
  
</div>